html {
  font-size: 60%;
  box-sizing: border-box;
  margin-right: 0px;
}

* {
  margin: 0%;
}

body {
  font: 1.6rem helvetica;
  background-color: #f0f2f5;
  margin-right: 0;
}

.homepage {
  display: grid;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: sticky;
  top: 0;
  width: 100%;
  height: 6rem;
  border: 0.1rem black;
  margin-right: 20px;
}
